<div class="card p-5" style= "width: 110rem" id="textfield">
  <h1>Editing Label</h1>
  <div class="mb-5">
<%= render 'form', label: @label %>

<%= link_to 'Show', @label, class:"btn btn-info" %> |
<%= link_to 'Back', labels_path, class:"btn btn-warning" %>
</div>
</div>
