<h1 class = "center"><%= @user.name %>'s Profile</h1>
<div class ="col-md-3">
  <table class="user_show_table  clearfix">
    <thead>
      <tr>
        <th>User Name</th>
        <td><%= @user.name%></td>
      </tr>
      <tr>
        <th>Email Address</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
      <td><%= link_to 'New Task', new_task_path, class:"btn btn-info btn-lg" %></td>  
      </tr>
    </thead>
  </table>
</div>

<hr>
