<h1><%= @user.name %>'s Profile</h1>
<p>Email address: <%= @user.email %></p>

<hr>
<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-info btn-lg" %> |
<%= link_to 'back', users_path, class:"btn btn-default btn-lg" %>
