body{
  background: url("https://www.washingtonpost.com/resizer/aO0xdgwGi5F55Rwi4MvgO-Duabo=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/UYLT2GML6BA2TGWEGXYVUADQSM.jpg");
  font-size: 2rem;
 }
.container{
  width: 100%;
  margin-top: 5rem;
}
h1{
  text-align: left;
  text-decoration-style: wavy;
  font-weight: bolder;
  font-style: italic;
}
table th, td{
  padding: 5px;
  font-size: 20px;
}
.field{
  font-size: 15px;
}

.sidenav {
  float: left;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4a0f03;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav li {

}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #818181;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
}

.edit {
  margin-top: 180px;
}
.field {
  margin-bottom: 10px;
}
#textfield {
  line-height: 5rem;
}
li {
  list-style: none;
}

.logo {
  width: 130px;
  height: 130px;
}

#logout_sidebar_button {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 32px;
}

.but {
  margin-left: 32px;
  margin-top: 10px;
  line-height: 3rem;
  width: 110px;
  font-size: 20px;
}
