body{
  font-size: 2rem;
 }
.container{
  background: url("https://www.washingtonpost.com/resizer/aO0xdgwGi5F55Rwi4MvgO-Duabo=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/UYLT2GML6BA2TGWEGXYVUADQSM.jpg") center center / cover no-repeat;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100;
}
h1{
  text-align: left;
  text-decoration-style: wavy;
  font-weight: bolder;
  font-style: italic;
  font-size: 5rem;
}
table th, td{
  padding: 20px;
  background-color: #ffdecb;
}
.field{
  text-align: right;
  font-size: 15px;
}
